<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvSgb_upUHcRfafymV3Bsa67gBdT5109A</string>
	<key>GCM_SENDER_ID</key>
	<string>323517068434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hello-Hoedspruit</string>
	<key>PROJECT_ID</key>
	<string>hello-hoedspruit</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-hoedspruit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323517068434:ios:45a29fd56b91315223a24b</string>
</dict>
</plist>